@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

body {
font-family: "Josefin Sans", sans-serif;
color: white;
font-weight: bold;
}

header {
padding: 10pt;
border-radius: 10pt;
margin: 10pt;
border-top-right-radius: 75pt;
background-color: grey;
}

h1 {
color: aqua;
border-bottom: 2pt white solid;
}

#username_display {
float: right;
padding: 30px;
}

.menu {
display: flex;
flex-direction: rows;
justify-content: space-between;
text-align: center;
}

.menu_control {
text-decoration: none;
color: white;
padding: 10pt;
}

a:hover {
background-color: darkgrey;
}

main {
padding: 10pt;
border-radius: 10pt;
margin: 10pt;
background-color: darkgrey;
height: 50vw;
}

footer {
padding: 10pt;
border-radius: 10pt;
margin: 10pt;
background-color: darkgrey;
}