@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

body {
  font-family: "Josefin Sans", "Roboto", "Helvetica", sans-serif;
  color: white;
  font-weight: bold;
}

header {
  padding: 10pt;
  padding-bottom: 15pt;
  border-radius: 10pt;
  margin: 10pt;
  border-top-right-radius: 75pt;
  background-color: grey;
}
h1 {
  color: navy;
  border-bottom: 2pt white solid;
}
.menu_control {
  text-decoration: none;
  color: white;
  padding: 10pt;
  border-radius: 5pt;
  transition: background-color 0.2s ease-in-out;
  background-color: grey;
}
@media (min-width:620px) {
  .menu {
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    text-align: center;
  }
  #username_display {
    float: right;
    padding: 30px;
  }
  #buttons {
    width: 50vw
  }
}
@media (max-width:619px) {
  #username_display {
    display: none;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-gap: 20pt;
  }
}

a:hover {
  background-color: darkgrey;
}

main {
  padding: 10pt;
  border-radius: 10pt;
  margin: 10pt;
  background-color: darkgrey;
  height: minmax(50vw, 75vw);
}
button {
  font-family: "Josefin Sans", "Roboto", "Helvetica", sans-serif;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5pt;
  cursor: pointer;
  background-color: grey;
  color: white;
  transition: background-color 0.2s ease-in-out;
  margin-top: 10px;
}
button:hover {
  background-color: navy;
}
#buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.login_div {
  padding-bottom: 7pt;
}
.login_box {
  padding: 5pt;
}

#data_entry {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
}
.info_label {
  padding-bottom: 7px;
}
input {
  font-size: 12pt;
  font-family: "Josefin Sans", "Roboto", "Helvetica", sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input:focus,
input:hover {
  box-shadow: 0 0 5px rgba(0, 0, 128, 0.5);
}
.info_input {
  padding: 5pt;
  max-width: 100pt;
}

select {
  width: 100pt;
  padding: 10pt;
  font-family: "Josefin Sans", "Roboto", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
select option {
  font-family: "Josefin Sans", "Roboto", "Helvetica", sans-serif;
  padding: 10px;
  font-size: 12px;
}
select:focus,
select:hover {
  border: thin solid navy;
  box-shadow: 0 0 5px rgba(0, 0, 128, 0.5);
}

.stock_input {
  max-width: 50pt;
}
td, th {
  padding-right: 15pt;
  text-align: center;
  position: relative;
}

th {
  font-weight: bold;
}

td:not(:last-child)::before,
th:not(:last-child)::before {
  content: '';
  position: absolute;
  top: -2pt;
  right: 5pt;
  height: 120%;
  width: 2px;
  background-color: white;
}

footer {
  padding: 10pt;
  border-radius: 10pt;
  margin: 10pt;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#author,
#github {
  padding-top: 10pt;
  padding-bottom: 10pt;
}
#github_link {
  text-decoration: none;
  color: white;
  padding: 10pt;
  border-radius: 5pt;
  transition: background-color 0.2s ease-in-out;
  background-color: grey;
}
#github_link:hover {
  background-color: darkgrey;
}